body {
    background-color: #f7f4f4;
}

.nav-enlace {
    background: #55af50;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: white;
    border-radius: 50px;
}

.nav-enlace:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 5px;
    right: 0px;
    margin-top: 110px;
}

.encabezado {
    display: flex;
    background: #ece7e7;
}

header {
    background-color: #55af50;
    width: 950px;
    height: 150px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
    border-radius: 10px;
}

.logo {
    width: 150px;
    height: 140px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10%;
}

header h1 {
    color: aliceblue;
    font-size: 2.1em;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    padding-right: 1500px;
}

.barra-busqueda {
    position: absolute;
    right: 100px;
    top: 50px;
    padding: 10px;
}

.barra-busqueda button {
    cursor: pointer;
    border-radius: 5px;
}

.barra-busqueda input {
    border: 1px solid black;
    border-radius: 5px;
}

.carrusel {
    width: 80%;
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 140px;
    margin-top: 10px;
    margin: center;
}

.c-imagenes {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 100%;
    padding: 5px;
}

.c-imagenes::-webkit-scrollbar {
    display: none;
}

.c-imagenes img {
    border-radius: 30px;
    flex-shrink: 0;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.c-imagenes img:hover {
    transform: scale(1.02);
}

section {
    background-color: #ffff;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 15px;
    border: 2px solid #55af50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
}

section h2 {
    background-color: #55af50;
    color: white;
    text-align: center;
    font-size: 1, 4px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section li {
    padding: 8px;
    margin-bottom: 1px solid #e0e0e0;
    font-size: 1em;
    color: #333;
}

section li :last-child {
    border-bottom: none;
}